@media screen and (min-width: 640px) {

    :root {
        --main-font-family: 'Space Grotesk';
        --primary-color-1: #25ffd4;
        --primary-color-2: #000000;
        --primary-color-3: #363946;
        --primary-color-4: #a9d3ff;
    }

    #BurgerMenu {
        display: none;
    }

    nav {
        align-items: center;
        display: flex;
        justify-content: space-around;
    }

    main {
        grid-template-columns: 1fr 1fr 1fr;
    }

    main h2 {
        grid-column: 1/4;
        text-align: center;
    }
}